# Enable logging rc options.
common --announce_rc

# ------------------------------------------------------------------------------
# Per-plaform options.
# ------------------------------------------------------------------------------

# By default, detect the platform and use the platform-specific options below.
build --enable_platform_specific_config

# Flags common to all the platforms.
build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
build --cxxopt=-Wno-sign-compare --host_cxxopt=-Wno-sign-compare
build --cxxopt=-fno-exceptions --host_cxxopt=-fno-exceptions
build --cxxopt=-Wno-deprecated-declarations --host_cxxopt=-Wno-deprecated-declarations

# ------------------------------------------------------------------------------
# Options for Linux.
# ------------------------------------------------------------------------------

# No Linux-specific flags here yet.

# ------------------------------------------------------------------------------
# Options for macOS.
# ------------------------------------------------------------------------------

# Sets the default Apple platform to macOS.
build --apple_platform_type=macos
build:macos --features=-supports_dynamic_linker
build:macos --cxxopt=-Wno-dangling-field --host_cxxopt=-Wno-dangling-field
build:macos --cxxopt=-mmacos-version-min=10.15 --host_cxxopt=-mmacos-version-min=10.15
